

@media ( max-width: 991px )
    .promo
        padding: 21px 10px 93px 10px
        &__header
            font-size: 35px
        &__subheader
            font-size: 20px
    .header
        &__logo
            width: 200px
        &__official
            span
                font-size: 16px
        &__phone
            font-size: 16px
    .button
        width: 130px
        height: 25px
        font-size: 10px
        &_main
            margin-top: 67px
            width: 280px
            height: 45px
            font-size: 14px
        &_submit
            width: 100%
            height: 50px
            font-size: 14px
    .advantages
        padding: 70px 10px 80px 10px
        &__subtitle
            font-size: 16px
        &_descr
            font-size: 13px
    .consultation
        padding: 100px 10px 90px 10px
    .title
        &_consultation
            font-size: 30px
    .feed-form
        width: 280px
        input
            height: 45px